<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.simple_search %}
    <iframe src="{{ site.simple_search }}?site={{ site.url | shorthand_url }}&prefill=Search&bgcolor=F2F2F2" style="float:right;overflow:hidden;margin:0;padding:0;width:250px;height:40px;" frameborder="0"></iframe>
  {% endif %}
{% include custom/navigation.html %}
